<!-- <h1>Hola {{name}} Eres una máquina {{nick}}!</h1>
<p>Hola {{alumno.nombre}} {{alumno.apellido}}</p>
<img [src]="imagen" alt="G2 esports">

<input type="text" name="" id="" [(ngModel)]="input">
<p>{{input}}</p> -->
<!-- <label for="">Email: 
    <input type="text" name="" id="" [(ngModel)]="email">
</label> -->
<!-- <label for="">Password: 
    <input type="password" name="" id="" (ngModelChange)="writeModelo()" (keydown)="Ingresar($event)" [(ngModel)]="pasw">
</label> -->
<!-- 
<label for="">Password: 
    <input type="password" name="" id=""  (keyup)="Ingresar($event)" [(ngModel)]="pasw">
</label> -->


<!-- <button (dblclick)="Ingresar()">Ingresar</button>

<input type="text" (input)="write($event)" (focus)="color($event)">

<br>

<input type="text" (focus)="color($event)"> -->

<br>

<input type="text">