<!-- <div *ngIf="!loading">
    <p>Hola estoy cargando</p>
</div>

<img src="https://cdn.discordapp.com/attachments/763106409989537882/766117002447421480/S.gif" alt=""> -->

<!-- <div class="tab" [ngSwitch]="pestana">
    <button (click)="cambiarPestana('perfil1')">Perfil 1</button>
    <button (click)="cambiarPestana('puntos')">Puntos</button>
    <button (click)="cambiarPestana('info')">Info</button>

    <div class="tabContenido">
        <p *ngSwitchCase="'perfil1'">Este es el perfil</p>
        <p *ngSwitchCase="'puntos'">Este son los puntos</p>
        <p *ngSwitchCase="'info'">Este es la pestana de info</p>
        <p *ngSwitchDefault>Seleccione una pestaña</p>
    </div>
</div> -->

<!-- <button (click)="alternarFondo()">Alternar</button>
<div [ngClass]="{ cuadrado: mostrarCuadrado }">
    <p>Este deberia de aparecer con un fondo verde</p>
</div> -->